<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html b:css="false" b:js="true" b:defaultwidgetversion="2" b:layoutsVersion="3" expr:dir="data:blog.locale.languageDirection" expr:lang="data:blog.locale.language" prefix="og: http://ogp.me/ns#">
<!-- BloggerBase©karasu-themes | https://github.com/Karasu-themes/BloggerBase  -->
<head>
  <!-- Head -->
  <b:include name='@u:head' />

  <b:skin version='<%= version %>'><![CDATA[
    /*!************************************************
    * Blogger Template Style
    * Name: <%= name %>
    * version: <%= version %>
    * Description: <%= description %>
    * Theme URL: <%= url %>
    * Author: <%= author.name %>
    * Author URL: <%= author.url %>
    * License: <%= license %>
    **************************************************/

    @style(src="/style.css");
  ]]></b:skin>

  <b:defaultmarkups>
    <%# Common markups %>
    <b:defaultmarkup type='Common'>
      <%- include('./markups/common/head'); %>
    </b:defaultmarkup>
    
    <%# Gadgets _%>
    <%# Add here your gadgets %>
  </b:defaultmarkups>
</head>

<body>

  <b:section id='blog'>
      <b:widget type="Blog"/>
  </b:section>

  <script>
    @script(src="/script.js");
  </script>

</body>

</html>